<!-- search results page -->
{% extends "shared/base.html" %}
<!-- title -->
{% block title %}Search Results {% endblock %}
<!-- rest is body-->
{% block body %}
<!-- category nav -->
{% include "shared/categories.html" %}

<form action="search">
  <div class="flex">
    <div class="bg-white m-2 shadow-lg rounded-2 basis-1/5 h-fit">
      <input type="hidden" name="q" {% if params.q %} value="{{  params.q }}" {% endif %} />
      <h3 class="text-lg font-medium border-b-2 border-b-gray-100 p-4 pb-3">Filters</h3>
      {% if params.categories %}
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4 class="text-sm uppercase font-semibold">Categories</h4>
        {% for category in params.categories %}
        <div class="text-sm p-1 text-gray-800">
          <input
            type="checkbox"
            value="{{category}}"
            id="category-{{category|lower|replace(' ', '-')}}"
            name="category"
            checked />
          <label for="category-{{category|lower|replace(' ', '-')}}">
            {{category}}
          </label>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if params.brands %}
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4>Brand</h4>
        {% for brand in params.brands %}
        <input
          type="checkbox"
          value="{{brand}}"
          id="brand-{{brand|lower|replace(' ', '-')}}"
          name="brand" checked />
        <label for="brand-{{brand|lower|replace(' ', '-')}}">{{brand}}</label>
        {% endfor %}
      </div>
      {% endif %}
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4 class="text-sm uppercase font-semibold mb-2">Price</h4>
        <!-- Select dropdowns instead of number inputs -->
        <select class="py-0 pr-6 text-sm" name="min-price" id="min-price">
          {% for val in [0, 100, 200, 500, 750, 1000]%}
            <option
              value="{{val}}"
              {% if params.price_min == val|string %} selected {% endif %}>
              ₹{{val}}
            </option>
          {% endfor %}
        </select>
        <label class="text-xs text-gray-500 px-4" for="max-price">to</label>
        <select class="py-0 pr-6 text-sm" name="max-price" id="max-price">
          {% for val in ["2000+", 1000, 750, 500, 200, 100]%}
            <option value="{{val}}"{% if params.price_max == val|string %}selected{% endif %}>₹{{val}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="p-4 border-b-2 border-b-gray-100">
        <input type="checkbox" id="fk-advantage" name="fk-advantage" {% if params.fk_advantage %} checked {% endif %} />
        <label for="fk-advantage">
          <span class="bg-blue-500 text-white text-xs italic pr-2 font-semibold rounded-md">
            <span class="bg-yellow-500 text-blue-500 text-xs rounded-xl border-2 border-blue-500 p-1 font-bold">Fk</span>
            Assured
          </span>
        </label>
      </div>
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4 class="text-sm uppercase font-semibold mb-2">Customer Ratings</h4>
        <ul class="flex flex-col gap-4 text-sm">
          <li>
            <input type="checkbox" id="4-plus" name="ratings" value="4" {% if '4' in params.ratings %} checked {% endif %} />
            <label class="pl-2 align-text-top cursor-pointer" for="4-plus">4 ★ & above</label>
          </li>
          <li>
            <input type="checkbox" id="3-plus" name="ratings" value="3" {% if '3' in params.ratings %} checked {% endif %} />
            <label class="pl-2 align-text-top cursor-pointer" for="3-plus">3 ★ & above</label>
          </li>
          <li>
            <input type="checkbox" id="2-plus" name="ratings" value="2" {% if '2' in params.ratings %} checked {% endif %} />
            <label class="pl-2 align-text-top cursor-pointer" for="2-plus">2 ★ & above</label>
          </li>
        </ul>
      </div>
    </div>

    <div class="bg-white m-2 shadow-lg rounded-2 basis-4/5 p-2">

      {% if params.categories %}
        <div class="text-xs text-gray-500 m-2">
        {% for category in params.categories %}
          <span>{{category}} &gt;</span>
        {% endfor %}
        </div>
      {% endif %}

      <div class="font-semibold m-2">
        Showing {{products.first}} – {{products.last}} of {{ products.total }} results
        {% if params.q %} for "{{ params.q }}" {% endif %}
      </div>

      <div class="flex text-sm gap-4 m-2 font-medium">
        <h3 class="font-bold">Sort By</h3>
        <ul class="flex gap-4">
        <li>
         <input type="radio" value="relevance" id="relevance" name="sort" class="sr-only peer"
          {% if params.sort == None or params.sort == "relevance" %} checked {% endif %} />
        <label
          for="relevance"
          class="cursor-pointer pb-2 peer-checked:font-bold peer-checked:text-blue-500 peer-checked:border-b-blue-500 peer-checked:border-b-2">
          Relevance
        </label>
        </li>
        {% for val in ["rating", "price-low", "price-high", "discount"] %}
        <li>
        <input type="radio" value="{{val}}" id="{{val}}" name="sort" class="sr-only peer"
          {% if params.sort==val %} checked {% endif %} />
        <label
        for="{{val}}"
        class="cursor-pointer hover:ring-blue-400 hover:ring-2 p-2 peer-checked:font-bold peer-checked:text-blue-500  peer-checked:border-b-blue-500 peer-checked:border-b-2">
          {{val|capitalize}}
        </label>
        </li>
        {% endfor %}
        </ul>
        <input class="ring-1 ring-black focus:ring-blue-200 px-8 py-1 cursor-pointer hover:ring-blue-700 hover:text-blue-700" type="submit" value="Sort" />
      </div>

      <ul class="grid grid-cols-4 grid-rows-10 gap-2">
        {% for product in products.items %}

        <li class="col-span-1 row-span-1 h-96 hover:shadow-xl p-4">
          <a href="/products/{{product.id}}">
            {% if product.images[0] %}
              <img class="h-3/4 aspect-auto object-contain m-auto" src="{{ product.images[0].url }}" />
            {% endif %}

            <div class="text-sm font-normal truncate w-full">{{ product.name }}</div>
            {% if product.rating is number %}
            <span class="bg-green-700 text-white text-xs rounded-sm px-2 py-0.5">{{ product.rating }} ★</span>
            {% endif %}

            {% if product.flipkart_advantage == 'true' %}
            <span class="bg-blue-500 text-white text-xs italic pr-2 font-semibold rounded-md">
              <span class="bg-yellow-500 text-blue-500 text-xs rounded-xl border-2 border-blue-500 p-1 font-bold">Fk</span>
              Assured
            </span>
            {% endif %}

            <div class="flex items-baseline gap-2 p-1">
              <span class="font-bold">₹{{ product.discounted_price }}</span>
              {% if product.discounted_price is number and product.retail_price is number and product.discounted_price != product.retail_price %}
              <span class="text-sm text-gray-500 line-through">₹{{ product.retail_price }}</span>
              <span class="text-green-600 text-xs font-semibold">
                {{ (100 * (1 - product.discounted_price / product.retail_price)) | round | int }}% off
              </span>
              {% endif %}
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>

      <!-- Pagination -->
      {% if products.has_next %}
        <div class="m-2 p-2 flex">
          <div class="text-sm shrink-0">Page {{products.page}} of {{ products.pages }}</div>

          <div class="m-auto flex gap-4 font-semibold text-sm">
            {% if products.has_next %}
            {% set next_args = request.args.copy() %}
            {% set x = next_args.__setitem__("page", products.prev_num) %}
              <a class="uppercase px-3 py-0 leading-8 text-blue-500" href="{{ url_for('search', **next_args) }}">
                Previous
              </a>
            {% endif %}

            {% for i in products.iter_pages() %}
              {% set args = request.args.copy() %}
              {% set _x=args.__setitem__("page", i) %}
              <a class="rounded-full px-3 py-0 w-8 h-8 leading-8 {% if i == params.page %} bg-blue-500  text-white {% endif %}"
                href="{{ url_for('search', **args) }}">
                {{i}}
              </a>
            {% endfor %}

            {% set prev_args = request.args.copy() %}
            {% set _x=prev_args.__setitem__("page", products.next_num) %}
            <a class="uppercase px-3 py-0 leading-8 text-blue-500" href="{{ url_for('search', **prev_args) }}">
              Next
            </a>
          </div>
        </div>
      {% endif %}

      <div class="p-4 flex gap-2 items-baseline font-bold">
        <span class="">Did you find what you were looking for?</span>
        <span class="text-sm px-8 py-2 cursor-pointer border rounded-sm border-gray-300">Yes</span>
        <span class="text-sm px-8 py-2 cursor-pointer border rounded-sm border-gray-300">No</span>
      </div>
    </div>
  </div>
</form>
{% endblock %}