<footer class="bg-gray-700 text-gray-400">
  <div class="flex justify-between pl-16 py-8">
    <div class="flex-none basis-44 ml-16">
      <h3 class="font-bold">ABOUT</h3>
      <ul>
        <li>Contact Us</li>
        <li>About Us</li>
        <li>Careers</li>
        <li>Flipkart Stories</li>
        <li>Press</li>
        <li>Flipkart Wholesale</li>
        <li>Corporate Information</li>
      </ul>
    </div>

    <div class="flex-none basis-44">
      <h3 class="font-bold">HELP</h3>
      <ul>
        <li>Payments</li>
        <li>Shipping</li>
        <li>Cancellation & Returns</li>
        <li>FAQ</li>
        <li>Report Infringement</li>
      </ul>
    </div>

    <div class="flex-none basis-44">
      <h3 class="font-bold">POLICY</h3>
      <ul>
        <li>Return Policy</li>
        <li>Terms Of Use</li>
        <li>Security</li>
        <li>Privacy</li>
        <li>Sitemap</li>
        <li>EPR</li>
        <li>Compliance</li>
      </ul>
    </div>

    <div class="flex-none basis-44">
      <h3 class="font-bold">SOCIAL</h3>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>YouTube</li>
      </ul>
    </div>

  <div class="flex gap-8 w-2/5 border-l-gray-400 border-l-2 px-8">
    <div>
      <h3 class="font-bold">Mail Us:</h3>
      Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove
      Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village,
      Bengaluru, 560103, Karnataka, India
    </div>

    <div>
      <h3 class="font-bold">Registered Office Address:</h3>
      Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove
      Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village,
      Bengaluru, 560103, Karnataka, India CIN : U51109KA2012PTC066107 Telephone:
      044-45614700
    </div>
    </div>
  </div>

  <div class="w-full py-6 border-t-2 text-yellow-200 font-bold">
    <ul class="w-full flex  justify-around">
      <li>Become a Seller</li>
      <li>Advertise</li>
      <li>Gift Cards</li>
      <li>Help Center</li>
      <li>© 2007-2023 Flipkart.com</li>
    </ul>
  </div>
</footer>
