<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - FakeKart</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% include "shared/top-nav.html" %}
    <main class="bg-gray-100">
      {% block body %}{% endblock %}
    </main>
    {% include "shared/footer.html" %}
  </body>
</html>
