<nav class="w-full px-24 bg-white py-2 border-b-2 border-b-gray-300">
  <ul class="flex justify-around text-sm font-semibold mx-auto">
    <li><a href="/search?category=Electronics">Electronics</a></li>
    <li><a href="/search?category=Appliances">TVs & Appliances</a></li>
    <li><a href="/search?category=Men">Men</a></li>
    <li><a href="/search?category=Women">Women</a></li>
    <li><a href="/search?category=Kids">Baby & Kids</a></li>
    <li><a href="/search?category=Furniture">Home & Furniture</a></li>
    <li><a href="/search?category=Book">Sports, Books, & More</a></li>
    <li><a href="/search?category=Travel">Flights</a></li>
    <li><a href="/search?sort=discount">Offer Zone</a></li>
  </ul>
</nav>
