<nav class="w-full px-24 bg-white py-2 border-b-2">
  <ul class="flex justify-around text-sm font-semibold mx-auto">
    <li><a href="/search?category=Grocery"><img src="static/images/grocery.webp" />Grocery</a> </li>
    <li><a href="/search?category=Mobiles"><img src="static/images/mobiles.webp" />Mobiles</a></li>
    <li><a href="/search?category=Fashion"><img src="static/images/fashion.webp" />Fashion</a></li>
    <li><a href="/search?category=Electronics"><img src="static/images/electronics.webp" />Electronics</a></li>
    <li><a href="/search?category=Home"><img src="static/images/home.webp" />Home</a></li>
    <li><a href="/search?category=Appliances"><img src="static/images/appliances.webp" />Appliances</a></li>
    <li><a href="/search?category=Travel"><img src="static/images/travel.webp" />Travel</a></li>
    <li><a href="/search?sort=discount"><img src="static/images/top-offers.webp" />Top Offers</a></li>
    <li><a href="/search?category=Beauty"><img src="static/images/beauty.webp" />Beauty, Toys, and More</a></li>
    <li><a href="/search?q=Two%20Wheelers"><img src="static/images/two-wheelers.webp" />Two Wheelers</a></li>
  </ul>
</nav>
